<!DOCTYPE html>

<html>
<head>
    <title>Second spring boot</title>
    <!-- Content-type 에 대한 http header를 제공  -->
    <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">
    <div class="top">
        <div class="top-mid">Algoworld</div>
        <div class="top-right"><a href="/login">로그인</a></div>
    </div>
    <nav class="nav">
        <ul>
            <li><a class="menu" href="/">홈</a></li>
            <li><a class="menu" href="/sort">정렬 알고리즘</a></li>
            <li><a class="menu" href="/guestbook">방명록</a></li>
        </ul>
    </nav>
