{{>layout/header}}
<section class="section">
    <div class="login-select">
        <button class="btn-login" id="btn-naver">네이버</button>
        <button class="btn-login" id="btn-google">구글</button>
    </div>
<section>
{{>layout/footer}}