{{>layout/header}}
  <div class="sort-list">
    <ul>
        <li class="sort-menu" id="btn-selection">선택정렬</li>
        <li class="sort-menu" id="btn-bubble">버블정렬</li>
        <li class="sort-menu" id="btn-quick">퀵정렬</li>
    </ul>
  </div>

  <section class="section" id="sort-section">
     여기가 본문입니다.
  </section>

{{>layout/footer}}
